@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bitci.com ile Bitcoin, Ethereum ve Fan Token alım satım işlemlerinizi, hızlı, kolay ve güvenilir bir biçimde gerçekleştirin. <a href="https://www.bitci.com/">Bitci</a>.</p>
</div>
