@model Portfolio.Domain.Models.Portfolio

@{
    ViewData["Title"] = "Delete portfolio";
}
@using (Html.BeginForm("DeleteConfirm", "Portfolio", FormMethod.Post))
{
    <h1>Are you sure to delete portfolio?</h1>
        <div class="col-4">
            <div class="form-row mb-lg-5">
                <div class="col">
                    <input  id="id" name="id" type="hidden" value="@Model.Id">
                    <input type="submit"  class="btn btn-warning" value="Delete @Model.Name Portfolio" />
                </div>

            </div>
        </div>

        }
